:root {
  --color-dark: #343440;
  --color-light: #f1f3f5;
  --color-primary: #82b0d1;
  --color-secondary: #738a96;
  --color-body-background: #efefef;
  --color-link: #0b7285;
  --color-link-hover: #14395a;
  --color-nav-active-bg: #8eaac6;
  --border-radius-nav-pills: 2rem;
  --color-body-text: #181818;
}
